body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#main-container {
    display: flex;
    height: 100vh;
}

#left-panel {
    width: 30%;
    background-color: #f4f4f4;
    padding: 20px;
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

#right-panel {
    width: 70%;
    background-color: #222;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-container {
    display: grid;
    width: 500px;
    height: 500px;
    gap: 2px;
    margin-top: 20px;
}

.cell {
    background-color: #545454;
    border: 1px solid #262626;
    width: 100%;
    height: 100%;
}

#game-stats {
    color: white;
    margin-bottom: 10px;
    font-size: 16px;
}

#game-over {
    margin-top: 20px;
    font-size: 24px;
    color: red;
}
